nav.navbar {
  background-color: #fff !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 10px 30px;
  position: fixed;
  top: 20px;
  z-index: 1000;
}


.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #2c3e50 !important;
}

.navbar-brand img{
  width: 39px;
  height: auto;
  margin-left: 8px;
  padding-bottom: 3px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #34495e !important;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #e3f2fd;
  color: #007bff !important;
}

.nav-link.active {
  background-color: rgb(29, 148, 29);
  color: white !important;
}

.btn-outline-success,
.btn-outline-danger {
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
}
