<div *ngIf="showPrices" class="rez-date-bar" id="rezDate">
  <div class="d-flex justify-content-between align-items-center flex-wrap w-100">
    <div>
      <strong>Buying:</strong> {{ startDate | date:'dd MMMM yyyy HH:mm' }}
      <span class="mx-2">→</span>
      <strong>Return:</strong> {{ endDate | date:'dd MMMM yyyy HH:mm' }}
    </div>
    <div class="duration-info">
      Duration: {{ dayCount }} Day
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row"  style="margin-top: 110px;">
    <div class="col-md-4 mb-4"  *ngFor="let car of cars">
      <div class="card shadow-sm h-100">
        <img [src]="'assets/cars/' + car.make.toLowerCase() + '.jpg'" class="card-img-top" alt="Araç Görseli"
          style="height: 200px; object-fit: cover;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ car.make }} - {{ car.model }}</h5>
          <p class="card-text">Year: {{ car.year }}</p>
          <p class="card-text fw-bold">Daily Price: {{ car.pricePerDay }}₺</p>
          <ng-container *ngIf="showPrices">
            <p class="card-text text-success fw-bold">Total Price: {{ car.totalPrice }}₺</p>
          </ng-container>

          <button class="btn reserve-btn mt-auto w-100" (click)="onReserve(car.car_ID, car.pricePerDay)">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
