<div class="container my-5">

    <div class="row align-items-center mb-5" style="margin-top: 100px;">
        <div class="col-md-6 text-center">
            <img src="assets/cars/about1.jpg" class="about-img" alt="Car Image">
        </div>
        <div class="col-md-6 text-center text-section" id="text1">
            <h3><i class="bi bi-person-circle me-2"></i>Who We Are</h3>
            <p><i class="bi bi-check-circle-fill text-success me-2"></i>As CYCARRE, we are a team that aims to bring the
                car rental experience in Northern Cyprus to the highest level.</p>
            <p><i class="bi bi-check-circle-fill text-success me-2"></i>We offer reliable and quality service with our
                experience in the sector and our customer-oriented approach.</p>
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6 text-center text-section">
            <h3><i class="bi bi-flag-fill me-2"></i>Our Mission</h3>
            <p><i class="bi bi-check-circle"></i>To offer you an experience beyond your expectations by combining
                comfort and confidence on every journey.
            </p>
            <p><i class="bi bi-check-circle"></i>We work with all our strength to make your journeys more enjoyable and
                stress-free.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/cars/about2.jpg" class="about-img" alt="Car Image">
        </div>
    </div>

    <div class="row align-items-center mb-5">
        <div class="col-md-6 text-center">
            <img src="assets/cars/about3.jpg" class="about-img" alt="Car Image">
        </div>
        <div class="col-md-6 text-center text-section">
            <h3><i class="fa-sharp fa-solid fa-eye"></i> Our Vision</h3>
            <p><i class="fa-solid fa-check"></i> As the leading car rental brand in the region, to be a world brand that offers innovation and quality
                together.</p>
            <p><i class="fa-solid fa-check"></i> To be a brand that leads the sector by constantly raising comfort and safety standards.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h3>Contact Us</h3>
            <p>Feel free to reach out through our social platforms!</p>
            <a href="#" class="me-3"><i class="bi bi-instagram fs-3"></i></a>
            <a href="#" class="me-3"><i class="bi bi-twitter fs-3"></i></a>
            <a href="#" class="me-3"><i class="bi bi-facebook fs-3"></i></a>
            <a href="#"><i class="bi bi-linkedin fs-3"></i></a>
        </div>
    </div>

</div>