<div class="container mt-4">
  <div *ngIf="reservations.length === 0">Hiç rezervasyon bulunamadı.</div>

  <table class="table table-bordered table-striped" style="margin-top: 120px;" *ngIf="reservations.length > 0">
    <thead>
      <tr>
        <!-- <th>Rezervasion ID</th>
          <th>Car ID</th> -->
        <th>Car</th>
        <th>Start</th>
        <th>Finish</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Process</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rez of reservations">
        <!-- <td>{{ rez.reservation_ID }}</td>
        td>{{ rez.car_ID }}</td> -->
        <td>{{ rez.carName}}</td>
        <td>{{ rez.startDate | date:'dd MMM yyyy HH:mm' }}</td>
        <td>{{ rez.endDate | date:'dd MMM yyyy HH:mm' }}</td>
        <td>{{ rez.totalPrice }} ₺</td>
        <td>{{ rez.status }}</td>
        <td class="text-center">
          <ng-container *ngIf="rez.status === 'Pending'">
            <button class="btn btn-success me-2" (click)="goToPayment(rez.reservation_ID!)">
              Go to Payment
            </button>
            <button class="btn btn-danger" (click)="cancelReservation(rez.reservation_ID)">
              Cancel Reservation
            </button>
          </ng-container>
          <a *ngIf="(rez.status === 'Paid' || rez.status === 'Completed') && rez.payment_ID != null"
            [routerLink]="['/invoice', rez.payment_ID]" class="btn btn-secondary btn-sm ms-2">
            View Invoice
          </a>
        </td>

      </tr>
    </tbody>
  </table>
</div>