.banner-container {
  position: relative;
}

.banner-container img {
  margin-top: -33.5px;
  padding: 0;
  display: block; 
  width: 100%;
  height: auto;
}

.reservation-form-overlay {
  position: absolute;
  top: 50%; 
  right: 5%;
  transform: translateY(-50%);
  width: 500px;
  background-color: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(5px);
  padding: 1.5rem;
  margin-top: 50px;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}


.reservation-form-overlay:hover{
  opacity: 1;
  
}

@media (max-width: 768px) {
  .reservation-form-overlay {
    position: static;
    width: 100%;
    margin: 2rem auto 0 auto;
    transform: none;
    box-shadow: none;
  }
 
  .car-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .carousel-caption{
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
.carousel-wrapper {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.car-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}



.info-box {
  width: 100%;
  max-width: 500px;
  background-color: #782d2d;
  color: #fff;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.custom-bg {
  background-color: #3dbd2f;
  min-height: 100%; /* varsa kaldır */
  height: 100%;
  padding: 4rem 2rem;
  display: flex;
  align-items: center; /* dikey ortalama için */
}