@import "bootstrap-icons/font/bootstrap-icons.css";


.banner-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.welcome-box {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  margin-left: 90px;
  border-radius: 1rem;
  max-width: 400px;
  backdrop-filter: blur(2px);
}

.welcome-box .brand {
  color: #ffc107;
  font-weight: bold;
}

.carousel-wrapper {
  width: 100%;
  max-width: 570px;
}

.car-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.map-container {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#map {
  height: 100%;
  width: 100%;
}


.flip-card {
  width: 100%;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  padding: 1rem;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1rem;
  background-color: #fff; /* <-- bu çok önemli */
  border-radius: 15px;
}